<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Identificador Linguagem</title>

    <style type="text/css">
        #title {
            text-align: center;
            float: none;
        }

        #formas {
            width: 200px;
            height: 30px;
            margin-bottom: 10px;
        }

        #labelDigiteTrecho {
            margin-bottom: 5px;
        }

        #trecho {
            max-width: 530px;
            min-width: 530px;

            max-height: 600px;
            min-height: 600px;
        }

        .formulario {
            float: left;
        }

        #divDetalhesResposta {
            background-color: #F0FFFF;
            width: 800px;
            height: 800px;
        }

        input[type="submit"] {
            width: 530px;
            height: 50px;
        }
    </style>

    <script>
        function validateForm() {
            var trechoCodigo = document.getElementById("trecho").value;

            if (trechoCodigo.trim() === "") {
                alert("Digite um trecho de código.");
                return false;
            }
        }
    </script>

</head>
<body>

    <h1 id="title">Identificar Linguagem </h1>
    <dl>
        <dt>Linguagens Possíveis</dt>
        <dd>Java</dd>
        <dd>C/C++</dd>
        <dd>Python</dd>
        <dd>Prolog</dd>
        <dd>Assembly</dd>
    </dl>

    <form name="formularioGuardiao" class="formulario" action={% url 'send_verify_language' %} method="POST" enctype="multipart/form-data" autocomplete="off" onsubmit="return validateForm()"> {% csrf_token %}

        <label id="labelDigiteTrecho" for="trecho">Digite o trecho de código:</label> <br />

        <textarea id="trecho" name="trecho">{{ trecho }}</textarea> <br />

        <input type="submit" name="btnEnviarCodigo" id="btnEnviarCodigo" value="ENVIAR" />

    </form>

    {% if valido == True %}
        {% if linguagemMaisDetectada %}

        <center>
        <div id="divDetalhesResposta">

            <h2> Linguagem detectada: {{ linguagemMaisDetectada }}</h2>
            <p>Com probabilidade de {{ informacoesDeResultadoMaisDetectada }} %</p>

            <br />

            <h3> Segunda Probabilidade: {{ segundaLinguagemMaisDetectada }} </h3>
            <p>Com probabilidade de {{ informacoesDeResultadoSegundaMaisDetectada }} %</p>

        </div>
        </center>

        {% endif %}
    {% endif %}

    {% if valido == False %}
        {% if linguagemMaisDetectada %}

        <center>
        <div id="divDetalhesResposta">
            <h2> {{ linguagemMaisDetectada }}</h2>
        </div>
        </center>

        {% endif %}

    {% endif %}
</body>
</html>